@model FinancialTransactionInfo

@{
    ViewData["Title"] = "Transaction Details";
    var tags = string.Join(", ", Model.Tags);

    var selectedCategoryId = Model?.Category?.Id.Value;
    var categories = (IEnumerable<CategoryInfo>)ViewBag.Categories;
}

<h1>Edit Transaction</h1>

<form method="post" class="custom-form">
    
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Date">Date</label>
        <input asp-for="Date" readonly disabled />
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" readonly disabled />
    </div>

    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input asp-for="Amount" readonly disabled />
    </div>

    <div class="form-group">
        <label for="CategoryId">Category</label>
        <select name="CategoryId" id="CategoryId" class="form-control">
            <option value="">-- Select a Category --</option>
            @foreach (var category in categories)
            {
                if (category.Id == Model?.Category?.Id)
                {
                    <option value="@category.Id.Value" selected>@category.Name</option>
                }
                else
                {
                    <option value="@category.Id.Value">@category.Name</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label>Tags</label>
        <input asp-for="Tags" value="@string.Join(", ", Model.Tags)" />
    </div>

    <div class="control-panel">
        <button type="submit" class="button button-primary">Save</button>
        <a href="/financialTransaction" class="button button-secondary">Back</a>
    </div>

</form>

@section Scripts {
    <script src="~/js/dirtyChecks.js"></script>
}
